h1{
  color: rgb(126, 227, 125);
    font-family: Arial, sans-serif;
    text-align: center;
    
}
body{
    background-color: rgb(95, 124, 133);
}
#inputContainer{
    margin:25px auto;
    width:300px;
    height:100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: aqua;
     border-radius: 10px;
}